/* ||---------------------------------------------------- */
body{
    background-color: rgb(248, 52, 246);    
    background: linear-gradient(90.4deg, rgb(248, 52, 246) 0.6%, rgb(152, 38, 252) 90%);
    margin: 0;
    animation: fadeInAnimation ease 2s;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;
}
@keyframes fadeInAnimation {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
     }
}
a{
    text-decoration: none;
}
/* ||---------------------------------------------------- */


/* ||---------------------------------------------------- */
table{
    border-collapse: collapse;
    box-shadow: rgba(0, 0, 0, 0.331) 0px 54px 55px, rgba(0, 0, 0, 0.331) 0px -12px 30px, rgba(0, 0, 0, 0.331) 0px 4px 6px, rgba(0, 0, 0, 0.331) 0px 12px 13px, rgba(0, 0, 0, 0.494) 0px -3px 5px;
}
td{
    border:1em solid rgb(34, 32, 32);
    background-color: rgb(219, 205, 205);
    width: 6em;
    height: 6em;  
    text-align: center;
}
td:hover{
    background-color: rgb(32, 31, 31);
    transition: ease-in 0.25s;
}
/* ||---------------------------------------------------- */


/* ||---------------------------------------------------- */
.start-reset-box{
    display: grid;
    justify-content: center;
    margin-bottom: 1em;
    margin-top: 1em;
}
.button-elements{
    display: inline;
    justify-content: center;
}
#start-button, #reset-button{
    border: 0.3em dashed white;
    border-radius: 1em;
    width: 7em;
    height:4em;
    color: white;
    font-weight: bold;
    font-size: 1em;
    margin-top: 0.5em;
    margin-left: 1em;
    margin-right: 1em;
    margin-bottom: 0.5em;
    text-transform: uppercase;
}
#start-button{
    background-color: green;
}
#start-button:hover{
    background-color: rgb(2, 85, 2);
}
#start-button:active{
    background-color: rgb(233, 242, 233);
    color: #282A35;
    border: 0.3em dashed #282A35;
}
#reset-button{
    background-color: #282A35;
}
#reset-button:hover{
    background-color: black;
}
/* ||---------------------------------------------------- */

/* ||---------------------------------------------------- */
.content-box{
    display: grid;
    justify-content: center;
    margin-right: 2%;
    margin-left: 2%;
}
#img1-a, #img7-a, #img15-a, #img3-a, #img13-a, #img10-a, #img16-a,
#img1-f, #img6-f, #img11-f, #img4-f, #img3-f, #img9-f, #img16-f,
#img1-s, #img11-s, #img4-s, #img9-s, #img16-s,#img2-s{
    width: 100%;
    height: 100%;
    visibility: visible;
}
.img-td-hidden:hover {
    background-color: rgb(219, 205, 205);
}
#img2-a, #img4-a, #img5-a, #img6-a, #img8-a, #img9-a, #img11-a, #img12-a, #img14-a, #img15-a,
#img2-f, #img5-f, #img7-f, #img8-f, #img10-f, #img12-f, #img13-f, #img14-f, #img15-f,
#img5-s, #img7-s, #img8-s, #img10-s, #img12-s, #img13-s, #img14-s, #img15-s, #img6-s,#img3-s{
    width: 6em;
    height: 6em;
    visibility: hidden;
}
/* ||---------------------------------------------------- */


/* ||---------------------------------------------------- */
.time-button-box{
    display: grid;
    justify-content: center;
    margin-top: 2em;
    margin-bottom: 2em;
}

#time-button{
    background-color: #282A35;
    border: 0.2em solid white;
    border-radius: 0em 0em 0.5em 0.5em;
    width: 14em;
    color: white;
    font-weight: bold;
    font-size: 2em;
    padding: 0.2em;
    text-align: center;
}
/* ||---------------------------------------------------- */
@media only screen and (max-width: 480px) {
    #img1-a, #img7-a, #img15-a, #img3-a, #img13-a, #img10-a, #img16-a,#img2-a, #img4-a, #img5-a, #img6-a, #img8-a, #img9-a, #img11-a, #img12-a, #img14-a, #img15-a,
    #img1-f, #img6-f, #img11-f, #img4-f, #img3-f, #img9-f, #img16-f,#img2-f, #img5-f, #img7-f, #img8-f, #img10-f, #img12-f, #img13-f, #img14-f, #img15-f,
    #img1-s, #img11-s, #img4-s, #img9-s, #img16-s,#img2-s,#img5-s, #img7-s, #img8-s, #img10-s, #img12-s, #img13-s, #img14-s, #img15-s, #img6-s,#img3-s{
        width: 4em;
        height: 4em;
    }
    td{
        width: 100%;
        height: 100%;
    }
    #time-button{
        position: sticky;
        width: 10em;
    }
    .start-reset-box{
        margin-top: 8em;
    }
}