/* ||-------------------BODY / ANIMATION------------------------ */
body{
    background-color: rgb(186, 48, 202);
    margin: 0;
    margin-bottom: 5%;
    animation: body-anim ease 1s;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;
}
@keyframes body-anim {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
     }
}
/* ||---------------------------------------------------- */

/* ||---------------------LOGO--------------------- */
.logo-container{
    display: grid;
    place-items: center;
    margin-top: 2%;
}
#logo-img{
    width:25em;
}
/* ||---------------------------------------------------- */

/* ||-----------------SELECTION------------------------- */
#together{
    background-color: #282A35;
    margin-left: 15%;
    margin-right: 15%;
    margin-top: 7%;
    padding: 1em;
    border: 0.5em solid white;
    border-radius: 5em;
}
.shape-select{
    text-align: center;
}
#pls-select{
    font-size: 4.1em;
    color: white;
    font-weight: 800;
    text-transform: uppercase;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
.levels-box{
    display: grid;
    justify-content: center;
    margin-top: 2%;
    align-items: stretch;
    flex-wrap: wrap;
}
#levels{
    display: inline;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: stretch;
    flex-wrap: wrap;
}
#animals, #fruits, #shapes{
    background-color: #22A39F;
    border: 0.1em solid rgba(0, 0, 0, 0.585) ;
    border-radius: 1rem;
    color: white;
    font-size: 3em;
    padding: 0.1em;
    margin-left: 0.5em;
    margin-right: 0.5em;
    width: 5em;
    text-transform: uppercase;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    margin-top: 2%;
    margin-bottom: 2%;
}
#animals:hover, #fruits:hover, #shapes:hover{
    background-color: #ffffff;
    color: #282A35;
    transition: ease-in-out 0.5s;
}
/* ||---------------------------------------------------- */

/* ||-----------------MOBILE VERSION------------------------ */
@media only screen and (max-width: 480px) {
    #pls-select{
        font-size: 3em;
    }
    #together{
        margin-left: 5%;
        margin-right: 5%;
        margin-top: 10%;
        padding-top: 2em;
        border: 0.2em solid white;
        margin-bottom: 5%;
    }
    #logo-img{
        width:20em;
        margin-top: 5%;
    }
    #levels{
        margin-top: 5%;
        margin-bottom: 5%;
    }
}
/* ||---------------------------------------------------- */