/* ||--------------------BODY / ANIMATION------------------------- */
body{
    margin: 0;
    background-color: rgb(186, 48, 202);
    animation: body-anim ease 2s;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;
}
@keyframes body-anim {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
     }
}
/* ||---------------------------------------------------- */

/* ||------------------LOGO--------------------- */
#logo-container, .links-homepage{
    display: grid;
    place-items: center;
}
#logo-container #logo-img{
    width: 25em;
}
#logo-container{
    margin-top: 2%;
    margin-bottom: 6em;
}
/* ||---------------------------------------------------- */

/* ||--------------------PLAY AND RULES------------------------ */
a{
    text-decoration: none;
}
.links-homepage{
    margin-top: 1em;
    margin-bottom: 1em;
}
.links{
    padding: 0.5em;
    border: 0.2em solid rgb(235, 226, 226);
    border-radius: 1.3em;
    color: white;
    background-color: #282A35;
    text-align: center;
    font-size: 2em;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-weight: bold;
    text-transform: uppercase;
    width: 10em;
    max-height: fit-content;
}
#play{
    background-color: #22A39F;
}
#play:hover, .links:hover{
    background-color: #ffff;
    color: #434242;
    border: 0.2em solid rgb(13, 13, 13);
    transition: ease 0.5s;
}
/* ||---------------------------------------------------- */

/* ||-------------------MOBILE VERSION---------------------- */
@media only screen and (max-width: 480px) {
    .links{
        margin-right: 2%;
        margin-left: 2%;
        width: 70% ;
        margin-bottom: 2%;
    }
    #logo-container #logo-img{
        margin-left: 10%;
        margin-right: 10%;
        margin-top: 20%;
        width: 20em;
        margin-bottom: 10%;
    }
    .links-homepage{
        margin-top: 1%;
        margin-bottom: 1%;
    }    
}
/* ||---------------------------------------------------- */